* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Epilogue-Medium";
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "Epilogue-Regular";
    src: url("./shared/assets/fonts/Epilogue/static/Epilogue-Regular.ttf")
        format("truetype");
}

@font-face {
    font-family: "Epilogue-Medium";
    src: url("./shared/assets/fonts/Epilogue/static/Epilogue-Medium.ttf")
        format("truetype");
}

@font-face {
    font-family: "Epilogue-SemiBold";
    src: url("./shared/assets/fonts/Epilogue/static/Epilogue-SemiBold.ttf")
        format("truetype");
}

@font-face {
    font-family: "Epilogue-Bold";
    src: url("./shared/assets/fonts/Epilogue/static/Epilogue-Bold.ttf")
        format("truetype");
}

@font-face {
    font-family: "ClashDisplay-Regular";
    src: url("./shared/assets/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Regular.ttf");
}

@font-face {
    font-family: "ClashDisplay-Medium";
    src: url("./shared/assets/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Medium.ttf");
}

@font-face {
    font-family: "ClashDisplay-Semibold";
    src: url("./shared/assets/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Semibold.ttf");
}

@font-face {
    font-family: "ClashDisplay-Bold";
    src: url("./shared/assets/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.ttf");
}
